.Slogan{
    background-color: rgb(228, 228, 228);
    height: 400px;
    color: rgb(5, 5, 5);
    text-align: center;
    display: flex;
    justify-content: center;
}
h1{
    margin: auto;
    font-family: 'inter', sans-serif;  
    font-size: 3rem;
}
